<div class="banner" id="new_page_banner" >
  <div class="banner-content">
    <h1>New Cocktail</h1>
    <p>Add your favourite cocktail to the list</p>
      <div class="mid-container">
        <%= render 'form', cocktail: @cocktail %>
      </div>

      <br>
      <br>
      <br>

      <%= link_to 'Back', cocktails_path, class: "btn btn-danger btn-xs"  %>
  </div>
</div>
