// Specific CSS for your home-page
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#new_page_banner {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), asset-url('new_cocktail.jpeg');
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: #CD7C4D;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}

.divider {
  margin: 50px;
}
/*.banner .btn-mine {
  margin-top: 20px;
}
*/

.btn-mine {
  color: white;
  padding: 25px 35px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  background: #CD7C4D;
  transition: background 0.3s ease;
}
.btn-mine:hover {
  background: #D41717;
  text-decoration: none;
  color: white;
}

.mid-inside {
  display: flex;
  justify-content: space-between;
}
